.p-a-0 {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.p-t-30 {
  padding-top: 30px;
}

.m-t-15 {
  margin-top: 15px;
}

.p-b-30 {
  padding-bottom: 30px;
}

.m-a-0 {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.m-b-30 {
  margin-bottom: 30px;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.pos-rel {
  position: relative;
}

.text-center {
  text-align: center;
}
